.about-us-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about-us-content {
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #7e2404; 
}

.about-us-image {
  
  width: 100%;
}

.image-container {
  
  width: 100%;
}
.about-us-btn{
  display: flex;
  gap: 40px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.about-us-btn button{
  width: 300px;
  border: none;
  border-radius: 30px;
  background-color: #ee7044;
  padding: 10px;
}
.about-us-cards-data{
  display: flex;
  height: 200px;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;

}
.about-us-cards{
  /* margin-top: -500px; */
  display: flex;
  width: 300px;
  height: 150px;
  box-shadow: rgb(67, 214, 255) 0px 3px 8px;
  justify-content: space-evenly;
  

}
.about-us-cards-logo{
  display: flex;
width: 50px;
height: 50px;
border-radius: 50%;
padding: 10px;
 color: #ee7044;
 border: 1px solid #ee7044;
 margin-top: 40px;
 justify-content: center;
 align-items: center;
 font-weight: 900;
 font-size: 5.5rem;
 

}
.about-us-cards-logo div{
  text-align: center;
}
#about-bg-img{
  opacity: 0.5;
}
.about-us-card-rytText{
  margin-top: 30px;
}
@keyframes zoomInOut {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.8);
  }
}